body, div, canvas {
  margin: 0;
  padding: 0;
}

#splashscreen,
#ui {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 42;
  text-align: center;
}

#splashscreen > img {
  animation: beat 1s 1s infinite;
  margin-top: 10vh;
}

@keyframes beat {
  0% {
    width: 100%;
  }

  50% {
    width: 80%;
  }

  50% {
    width: 60%;
  }

  50% {
    width: 80%;
  }

  100% {
    width: 100%;
  }
}

#squatcount {
  position: absolute;
  left: 32px;
  top: 0px;
  color: yellow;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 4px;
  font-family: "Boogaloo", sans-serif;
  font-size: 96px;
}
